include includes/header.pug
block content
    link(rel='stylesheet' , href='/stylesheets/dashboard.css')
    body
        .loader-bg
            .loader-track
                .loader-fill
        include includes/sidenav.pug 
        include includes/usernav.pug
        .pcoded-main-container
            .pcoded-wrapper
                .pcoded-content
                    .pcoded-inner-content
                        .main-body
                            .page-wrapper
                                .row
                                    .col-md-6
                                        if success
                                            if success.length != 0
                                                .alert.alert-success.alert-dismissible.fade-in(role="alert")
                                                    button.close(type="button" data-dismiss="alert" aria-label="close")
                                                        span(aria-hidden="true") ×
                                                    span #{success}
       
                                p #[a(href="/school/staff/new" class="btn btn-info") New Staff #[i(class="fa fa-plus ml-1")]]
                                    
                                if staffs.length > 0
                                    .card
                                        .card-header
                                            h5 Staffs
                                        .card-block.table-border-style
                                            .table-responsive
                                                table.table.table-striped#dataTable
                                                    thead.thead-light 
                                                        tr 
                                                            th Staff ID
                                                            th Full Name
                                                            th Role
                                                            th View
                                                    tbody 
                                                        each staff , index in staffs
                                                            - let id = staff.staffID
                                                            - let name = `${staff.lastName} ${staff.firstName}`
                                                            - let role = staff.role
                                                            - let staffUrl = "/school/staff/" + staff._id
                                                            - i++ 
                                                            tr 
                                                                td #{id}
                                                                td #{name}
                                                                td #{role}
                                                                td #[a(href=staffUrl class="main-link") Check Profile]
                                else
                                    .card
                                        .card-header
                                            span.d-block.m-t-5 No Staff has been created.
        include includes/footer.pug