include includes/header.pug
block content
    link(rel='stylesheet' , href='/stylesheets/dashboard.css')
    body
        .loader-bg
            .loader-track
                .loader-fill
        include includes/sidenav.pug 
        include includes/usernav.pug
        .pcoded-main-container
            .pcoded-wrapper
                .pcoded-content
                    .pcoded-inner-content
                        .main-body
                            .page-wrapper
                                .row
                                    .col-md-6
                                        if error
                                            if error.length != 0
                                                .alert.alert-danger.alert-dismissible.fade-in(role="alert")
                                                    button.close(type="button" data-dismiss="alert" aria-label="close")
                                                        span(aria-hidden="true") ×
                                                    span #{error}
                                        if success
                                            if success.length != 0
                                                .alert.alert-success.alert-dismissible.fade-in(role="alert")
                                                    button.close(type="button" data-dismiss="alert" aria-label="close")
                                                        span(aria-hidden="true") ×
                                                    span #{success}
                                .card
                                    .card-header
                                        h5 #{staffDB.firstName} #{staffDB.lastName}
                                        span.d-block.m-t-5 Both fields are compulsory.
                                    .card-body
                                        .row
                                            .col-md-6.mb-3
                                                .form-field
                                                    form(method="POST")
                                                        label(class="label") Class
                                                        select(name="className" class="form-control mb-3" required)
                                                            option(value="" selected disabled="disabled") --------
                                                            each cls in classSchool
                                                                option(value=cls.name) #{cls.name}
                                                        label(class="label") Subject
                                                        select(name="subject" class="form-control mb-3" required)
                                                            option(value="" selected disabled="disabled") --------
                                                            each subject in subjects.subjects
                                                                option(value=subject) #{subject}
                                                        input(type="submit" value="Assign" class="btn btn-info")
                                            .col-md-6.mb-3
                                                if staffDB.teaching
                                                    if staffDB.teaching.length > 0
                                                        .row
                                                            each teach in staffDB.teaching
                                                                .col-md-6.mb-2
                                                                    .form-field
                                                                        .float-left
                                                                            p #[b #{teach.className}]
                                                                            p #[i #{teach.subject}]
                                                                        .float-right
                                                                            a(href="#" class="red-color") #[i.feather.icon-trash]
                                                                        .clearfix
                                                    else
                                                        p You haven't assigned any class and subject to this teacher.
                                                else
                                                    p You haven't assigned any class and subject to this teacher.

        include includes/footer.pug