include includes/header.pug 
block content
    link(rel="stylesheet" href="/stylesheets/dashboard.css")
    body
        .loader-bg
            .loader-track
                .loader-fill
        include includes/sidenav.pug 
        include includes/usernav.pug
        .pcoded-main-container
            .pcoded-wrapper
                .pcoded-content
                    .pcoded-inner-content
                        .main-body
                            .page-wrapper
                                p #[a(href="#" class="btn btn-info" id="submit") Graduate]
                                p#displayMsg
                                p#span-class.d-none #{pClass._id}
                                .card
                                    .card-header
                                        h5#title Graduate Students in #{pClass.name}
                                        span.d-block.m-t-5 Click on #[code graduate] to graduate selected students.
                                    .card-body
                                        p  
                                            input(type="checkbox" id="selectAll") 
                                            label.ml-1 #[b Select All]
                                        .row
                                            each student in students
                                                .col-md-3
                                                    input(type="checkbox" class='check' id=student._id)
                                                    label.ml-1 #{student.firstName} #{student.lastName} #{student.otherName}

        script(src="/javascripts/library/graduate.js" type="module")                        
        include includes/footer.pug