include includes/header.pug 
block content
    link(href="/fileinput/css/fileinput.css" media="all" rel="stylesheet" type="text/css")
    link(rel="stylesheet" href="/stylesheets/dashboard.css")
    body
        .loader-bg
            .loader-track
                .loader-fill
        include includes/sidenav.pug 
        include includes/usernav.pug
        .pcoded-main-container
            .pcoded-wrapper
                .pcoded-content
                    .pcoded-inner-content
                        .main-body
                            .page-wrapper
                                .row
                                    .col-md-6
                                        if error
                                            if error.length != 0
                                                .alert.alert-danger.alert-dismissible.fade-in(role="alert")
                                                    button.close(type="button" data-dismiss="alert" aria-label="close")
                                                        span(aria-hidden="true") ×
                                                    span #{error}
                                        if success
                                            if success.length != 0
                                                .alert.alert-success.alert-dismissible.fade-in(role="alert")
                                                    button.close(type="button" data-dismiss="alert" aria-label="close")
                                                        span(aria-hidden="true") ×
                                                    span #{success}
                                .card
                                    .card-header
                                        h5 #{students.lastName} #{students.firstName} #{students.otherName}
                                        span.d-block.m-t-5 Upload a proof of payment...
                                    .card-body
                                        .row
                                            .col-md-6
                                                form(method="POST" enctype="multipart/form-data")
                                                    .form-field
                                                        .mb-3
                                                            label Payment for:
                                                            textarea(name="description" class="form-control")
                                                        .mb-3
                                                            label Amount Paid
                                                            input(type="number" class="form-control" name="amount")
                                                        .mb-3
                                                            label Upload Proof
                                                            div(class="form-group")
                                                                div(class="file-loading")
                                                                    input(id="file-1" type="file" name="picture" class="file" data-show-upload="false" data-overwrite-initial="false" data-theme="fas" required)
                                                        .text-center
                                                            hr
                                                            input(type="submit" value="Submit" class="btn btn-info")
                                            .col-md-6.mt-3
                                                p Proof of Payments sent for approval: #{proofTotal.length} 
        
        script(src="/javascripts/jquery.min.js")                               
        script(src="/fileinput/js/fileinput.js" type="text/javascript")
        script(src="/fileinput/themes/fas/theme.js" type="text/javascript") 
        script(src="/javascripts/library/handle_upload.js")
        include includes/footer.pug