include includes/header.pug
block content
    link(rel='stylesheet' , href='/stylesheets/dashboard.css')
    body
        .loader-bg
            .loader-track
                .loader-fill
        include includes/sidenav.pug 
        include includes/usernav.pug
        .pcoded-main-container
            .pcoded-wrapper
                .pcoded-content
                    .pcoded-inner-content
                        .main-body
                            .page-wrapper
                                .card
                                    .card-header
                                        h5 #{course.courseName}, #{course.className}
                                    .card-body
                                        p #[b #{questions.question.length} questions created.]
                                        div(class="question-field")
                                            each question in questions.question         
                                                p(class="question") #[b #[strong #{question.questionNumber}]. #{question.mainQuestion}]
                                                p
                                                    span.mr-2 (A) #{question.options.optionA}
                                                    span.mr-2 (B) #{question.options.optionB}
                                                    span.mr-2 (C) #{question.options.optionC}
                                                    span.mr-2 (D) #{question.options.optionD} 
                                            
                                                    
                                                if question.image
                                                    p   
                                                        - let imageUrl = "/uploads/schools/" + schoolAdmin.schoolCode + "/exam-" + exam.examCode + "/" + course.courseName + "-" + course.className + "/" + question.image
                                                        img(src=imageUrl, alt="image" height="50px" width="50px")
                                                hr

        include includes/footer.pug