include includes/header.pug
block content
    link(rel='stylesheet' , href='/stylesheets/dashboard.css')
    body
        .loader-bg
            .loader-track
                .loader-fill
        include includes/sidenav.pug 
        include includes/usernav.pug
        .pcoded-main-container
            .pcoded-wrapper
                .pcoded-content
                    .pcoded-inner-content
                        .main-body
                            .page-wrapper
                                .card
                                    .card-header
                                        h5 Bill Generated for #{singleClass.name}
                                    .card-body
                                        .invoice-box
                                            table(class="table table-responsive invoice-table table-borderless")
                                                tbody
                                                    tr
                                                        td
                                                            if school.logo
                                                                - let logoUrl = '/uploads/schools/' + school.schoolCode + '/logo/' + school.logo
                                                                img(src=logoUrl height="100px" width="100px")
                                                            else
                                                                p #[b School Logo appears here.]
                                                    tr
                                                        td #{school.schoolName}
                                                    tr
                                                        td #{school.address} #{school.state}
                                        .card-block
                                            .row.invoive-info
                                                div(class="col-md-4 col-xs-12 invoice-client-info")
                                                    h6 For :
                                                    h6(class="m-0") #{singleClass.name}
                                                    p(class="m-0 m-t-10") #{sessS}
                                                    p(class="m-0") #{termS}

                                                div(class="col-md-4 col-sm-6")
                                                    h6 Bill Information :
                                                    table(class="table table-responsive invoice-table invoice-order table-borderless")
                                                        tbody
                                                            tr
                                                                th Date :
                                                                td November 14
                                                            tr
                                                                th Status :
                                                                td
                                                                    span(class="label label-success") Active

                                                div(class="col-md-4 col-sm-6")
                                                    h6(class="m-b-20") Invoices Generated: #[span #{invoices.length}]
                                                    
                                            div(class="row")
                                                div(class="col-sm-12")
                                                    div(class="table-responsive")
                                                        table(class="table  invoice-detail-table")
                                                            thead
                                                                tr(class="thead-default")
                                                                    th S/N
                                                                    th Description
                                                                    th Amount
                                                            tbody
                                                                each pay, index in payments.fees
                                                                    tr  
                                                                        td.invoice #{index + 1}
                                                                        td.invoice #{paymentName[pay.paymentFor]}
                                                                        td.invoice ##{pay.amount.toLocaleString()}
                                            .row
                                                .col-sm-12
                                                    table(class="table table-responsive invoice-table invoice-total")
                                                        tbody
                                                            tr(class="text-info")
                                                                td
                                                                    hr
                                                                    h5(class="m-r-10") Total :
                                                                td
                                                                    hr
                                                                    h5 ##{sum.toLocaleString()}
                                            .row
                                                .col-sm-12
                                                    .float-right
                                                        if school.stamp
                                                            - let stampUrl = '/uploads/schools/' + school.schoolCode + '/logo/' + school.stamp
                                                            img(src=stampUrl height="100px" width="100px")
                                                        else
                                                            p #[b School stamp will appear here.]

    script(src='/javascripts/pdf.js')
    include includes/footer.pug