include includes/header.pug 
block content
    link(rel="stylesheet" href="/stylesheets/dashboard.css")
    body
        .loader-bg
            .loader-track
                .loader-fill
        include includes/sidenav.pug 
        include includes/usernav.pug
        .pcoded-main-container
            .pcoded-wrapper
                .pcoded-content
                    .pcoded-inner-content
                        .main-body
                            .page-wrapper
                                .d-flex.justify-content-between
                                    p #[a(href="/school/fees/transactions/upload" class="btn btn-info") #[i.feather.icon-arrow-left] Back to Uploads]
                                    p #[a(href="#" class="btn btn-info") Recorded POP]
                                .card
                                    if paymentProof.length > 0
                                        .card-header
                                            h5 Proof of Payments
                                            
                                        .card-body
                                            .row
                                                each payment in paymentProof
                                                    .col-md-4
                                                        .form-field
                                                            p #[b Student:] #{studentName[payment.student]}
                                                            p #[b Class:] #{className[payment.className]}
                                                            p #[b Description: ] #{payment.description}
                                                            p #[b Amount Paid: ] #{payment.amountPaid}
                                                            - let uploadUrl = '/uploads/schools/' + schoolAdmin.schoolCode + '/transactions/' + payment.proof
                                                            a(href=uploadUrl) #[img(src=uploadUrl height="200px" width="200px")]
                                                            if !payment.recorded
                                                                - let recordUrl = '/school/fees/transactions/upload/proofs/record/' + payment._id
                                                                p.mt-3 #[a(href="#" class="btn btn-light") Mark as recorded]
                                    else
                                        .card-header
                                           h5 Proof of Payments 
                                            span.d-block.m-t-5 Nothing was found.
                                       

        include includes/footer.pug