include includes/header.pug 
block content
    link(rel="stylesheet" href="/stylesheets/dashboard.css")
    body
        .loader-bg
            .loader-track
                .loader-fill
        include includes/sidenav.pug 
        include includes/usernav.pug
        .pcoded-main-container
            .pcoded-wrapper
                .pcoded-content
                    .pcoded-inner-content
                        .main-body
                            .page-wrapper
                                .row.justify-content-center
                                    .col-md-8
                                        if error
                                            if error.length != 0
                                                .alert.alert-danger.alert-dismissible.fade-in(role="alert")
                                                    button.close(type="button" data-dismiss="alert" aria-label="close")
                                                        span(aria-hidden="true") ×
                                                    span #{error}

                                        if success
                                            if success.length != 0
                                                .alert.alert-success.alert-dismissible.fade-in(role="alert")
                                                    button.close(type="button" data-dismiss="alert" aria-label="close")
                                                        span(aria-hidden="true") ×
                                                    span #{success}
                                .d-flex.justify-content-between
                                    p #[a(href="/staff/finance/transactions/upload" class="btn btn-info") #[i.feather.icon-arrow-left] Back to Uploads]
                                    p #[a(href='/staff/finance/transactions/upload/proofs/true' class="btn btn-info") Recorded POP]
                                .card
                                    if paymentProof.length > 0
                                        .card-header
                                            h5 Proof of Payments
                                            
                                        .card-body
                                            .row
                                                each payment in paymentProof
                                                    .col-md-4
                                                        .form-field
                                                            p #[b Student:] #{studentName[payment.student]}
                                                            p #[b Class:] #{className[payment.className]}
                                                            p #[b Description: ] #{payment.description}
                                                            p #[b Amount Paid: ] #{payment.amountPaid}
                                                            - let uploadUrl = payment.proof
                                                            a(href=uploadUrl) #[img(src=uploadUrl height="200px" width="200px")]
                                                            if !payment.recorded
                                                                - let recordUrl = '/staff/finance/transactions/upload/proofs/record/' + payment._id
                                                                p.mt-3 #[a(href=recordUrl class="btn btn-light") Mark as recorded]
                                    else
                                        .card-header
                                            h5 Proof of Payments 
                                            span.d-block.m-t-5 Nothing was found.
                                       

        include includes/footer.pug