include includes/header.pug
block content
    link(rel='stylesheet' , href='/stylesheets/dashboard.css')
    body
        .loader-bg
            .loader-track
                .loader-fill
        include includes/sidenav.pug 
        include includes/usernav.pug
        .pcoded-main-container
            .pcoded-wrapper
                .pcoded-content
                    .pcoded-inner-content
                        .main-body
                            .page-wrapper
                                .card
                                    div(class="card-header")
                                        p(class="card-title") Create Note
                                    div(class="card-body")
                                        p #{message}
                                        form(action="", method="post" class="form-field" enctype="multipart/form-data")
                                            .row
                                                .col-md-3.col-sm-6.mt-2
                                                    label(class="label") Week
                                                    input(type="number", name="week" class="form-control")
                                                .col-md-3.col-sm-6.mt-2
                                                    label(class="label") Subject
                                                    select(name="subject" class="form-control custom-select")
                                                        option(value="" selected disabled="disabled") ------
                                                        each st in staff.teaching 
                                                            option(value=st.subject) #{st.subject}
                                                .col-md-3.col-sm-6.mt-2
                                                    label(class="label") Class
                                                    select(name="className" class="form-control custom-select")
                                                        option(value="" selected disabled="disabled") ------
                                                        each ct in staff.teaching 
                                                            option(value=ct.className) #{ct.className}
                                                .col-md-3.col-sm-6.mt-2
                                                    label(class="label") Date
                                                    input(type="date", name="date" class="form-control")
                                                div(class="justify-content-center text-center col-md-9 mt-2")
                                                    label(class="btn main-btn mt-3 pl-5 pr-5") Add File
                                                        input(type="file" name='picture' id='picture' required)
                                                
                                                .col-md-6
                                                    button(type="submit").btn.main-btn.mt-3.pl-5.pr-5 Add Note
                                                
        include includes/footer.pug