include includes/header.pug
block content
    link(rel='stylesheet' , href='/stylesheets/dashboard.css')
    script(src="https://cdnjs.cloudflare.com/ajax/libs/html2pdf.js/0.9.2/html2pdf.bundle.js")
    body
        .loader-bg
            .loader-track
                .loader-fill
        include includes/sidenav.pug 
        include includes/usernav.pug
        .pcoded-main-container
            .pcoded-wrapper
                .pcoded-content
                    .pcoded-inner-content
                        .main-body
                            .page-wrapper
                                p #[a(href="#" class="btn btn-info" id="download") #[i.feather.icon-printer] Print]
                                div(class="card" id="invoice")
                                    .card-header
                                        h5 Lesson Note
                                    div(class="card-body format")
                                        .row
                                            .col-sm-2.text-lg-right
                                                p.font-weight-bold Teacher: 
                                            .col-sm-10
                                                p #{staff.firstName.toUpperCase()} #{staff.lastName.toUpperCase()}
                                            .col-sm-2.text-lg-right
                                                p.font-weight-bold Session : 
                                            .col-sm-10
                                                p #{session.name}
                                            .col-sm-2.text-lg-right
                                                p.font-weight-bold Term : 
                                            .col-sm-10
                                                p #{term.name}
                                            .col-sm-2.text-lg-right
                                                p.font-weight-bold Date : 
                                            .col-sm-10
                                                -let date = singleLessonNote.date.getDay() + '/' + (singleLessonNote.date.getMonth() + 1) + '/' + singleLessonNote.date.getFullYear()
                                                p #{date}
                                            .col-sm-2.text-lg-right
                                                p.font-weight-bold Week : 
                                            .col-sm-10
                                                p #{singleLessonNote.week}
                                            .col-sm-2.text-lg-right
                                                p.font-weight-bold Class : 
                                            .col-sm-10
                                                p #{singleLessonNote.className}
                                            .col-sm-2.text-lg-right
                                                p.font-weight-bold Subject : 
                                            .col-sm-10
                                                p #{singleLessonNote.subject}
                                            if singleLessonNote.image
                                                .col-md-6
                                                    -let imageUrl = "/uploads/schools/" + school.schoolCode + "/lesson-note/" + staff.staffID + "/" + singleLessonNote.image
                                                    iframe(src=imageUrl frameBorder="0" width="100%" height="300px")
                                            else
                                                .col-sm-2.text-lg-right
                                                    p.font-weight-bold Topic : 
                                                .col-sm-10
                                                    p #{singleLessonNote.topic}
                                                .col-sm-2.text-lg-right
                                                    p.font-weight-bold Materials Used : 
                                                .col-sm-10
                                                    p #{singleLessonNote.materials}
                                                .col-sm-2.text-lg-right
                                                    p.font-weight-bold Content : 
                                                .col-sm-10
                                                    p.text-danger.font-weight-bold #{singleLessonNote.content.contentTopic.toUpperCase()}
                                                    div(id="content" data-id=singleLessonNote._id ) 
                                                .col-sm-2.text-lg-right
                                                    p.font-weight-bold Presentation : 
                                                .col-sm-10
                                                    div(id="presentation" data-id=singleLessonNote._id ) 
                                                .col-sm-2.text-lg-right
                                                    p.font-weight-bold Evaluation : 
                                                .col-sm-10
                                                    div(id="evaluation" data-id=singleLessonNote._id )


        script(src="/javascripts/library/pdf.js")  
        script(src="/javascripts/library/lesson-note.js" type="module")                                        
        include includes/footer.pug 
                             